<mat-card class="example-card">
  <mat-card-header>
    <img
      mat-card-avatar
      class="example-header-image"
      [alt]="product?.name"
      [src]="product?.images?.[1]?.url"
    />
    <mat-card-title>{{ product?.name }}</mat-card-title>
    <mat-card-subtitle>{{
      product?.subCategory
    }}</mat-card-subtitle>
  </mat-card-header>
  <app-card-images
    *ngIf="productImages"
    [productImages]="productImages"
  ></app-card-images>
  <mat-card-content>
    <h1 class="price">
      {{
        product?.price
          | currency: 'RUB' : 'symbol-narrow' : '0.2-2'
      }}
    </h1>
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button>LIKE</button>
    <button mat-button>SHARE</button> -->
    <button
      mat-button
      [disabled]="!this.product"
      (click)="onProductBuy($event)"
    >
      <h2>Добавить в корзину</h2>
    </button>
  </mat-card-actions>
</mat-card>
