.example-card {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #f1e7e8;
}

mat-card-header {
  padding: 1em;
}

.example-header-image {
  background-size: cover;
}
.price {
  color: aliceblue;
  margin: 20px;
}

mat-card-title {
  color: aliceblue;
}

mat-card-actions {
  display: flex;
  margin: auto;
}

mat-card-content {
  text-align: center;
}
