<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="MenuClick.emit($event)"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <img
      class="favicon"
      [src]="faviconSrc"
      alt="faviconSrc"
    />
    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      (click)="onFavClick($event)"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="onShareClick($event)"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
