img {
  width: 100%;
}

.imgContainer {
  max-width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: white;
}

.leftClickBtn,
.rightClickBtn {
  background-color: #efe5fd;
  height: 100%;
  align-items: center;
  min-width: 50px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: rgba(66, 66, 66, 1);
  text-shadow:
    1px 1px 2px #d4bff9,
    0 0 1em #7e3ff2,
    0 0 0.2em #5300e8;
  cursor: pointer;
  border: #5300e8;
}

.leftClickBtn:hover,
.rightClickBtn:hover {
  background-color: #d4bff9;
}

.imgDiv {
  display: flex;
  overflow: hidden;
  justify-content: center;
  padding: 20px;
}
