<app-header></app-header>

<ng-container
  [ngTemplateOutlet]="showSpinner ? loading : products"
> </ng-container>

<ng-template #products>
  <app-product-list
    [products]="productList | filterByAnyFieldPipe: 'LED'"
    (spinner)="spin($event)"
  ></app-product-list>
</ng-template>

<ng-template #loading>
  <mat-progress-spinner
    mode="indeterminate" 
    color="primary"
  ></mat-progress-spinner>
</ng-template>

<!-- (MenuClick)="sidenav.toggleSideNavOpened()" -->

<!-- [ngIf]="productList" [ngIfElse]="loading" -->
<!-- <div ngIf="productList"> -->
  
  <!-- <app-product-list appScroll [products]="productList"></app-product-list> -->
  <!-- </div> -->
<!--   
  <ng-template #loading [ngIf]="showSpinner">
  [products]="productList | filterByAnyFieldPipe: 86"

</ng-template> -->

<!-- <app-sidenav #sidenav>
  <ng-template #navigationTemplate>
    {{ title }}
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </ng-template>
</app-sidenav> -->


<!-- <app-header
    [applicationConfig]="applicationConfig"
    (menuClick)="sidenav.toggleSidenavOpened()"
></app-header>
<app-sidenav #sidenav>
    <ng-template #navigationTemplate>
    <ng-container ngProjectAs="drawer-content">
        <h2>{{ applicationConfig.title }}</h2>
        <mat-list role="list">
            <mat-list-item appInsertShadow role="listitem">Item 1</mat-list-item>
            <mat-list-item appInsertShadow role="listitem">Item 2</mat-list-item>
            <mat-list-item appInsertShadow role="listitem">Item 3</mat-list-item>
        </mat-list>
    </ng-container>
    </ng-template>
    <h2>Hello</h2>
    <app-products-list></app-products-list>
</app-sidenav>

<app-popup-host></app-popup-host> -->