<app-header
  (MenuClick)="sidenav.toggleSideNavOpened()"
></app-header>
<!-- <app-product-list></app-product-list> -->
<app-sidenav #sidenav>
  <ng-template #navigationTemplate>
    {{ title }}
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </ng-template></app-sidenav
>

<app-popup-host
  [template]="!closeTemplate ? first : null"
></app-popup-host>

<ng-template #first>
  <h2>First</h2>
  <p>This is the first template</p>
</ng-template>
<ng-template #second>
  <h2>Second</h2>
  <p>This is the second template</p>
</ng-template>
